# encoding: utf-8
# Copyright 2011 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.

[buildout]
extends =
    http://tumor.jpl.nasa.gov/repo/edrn/portal/etc/base.cfg
    setup.cfg
package-name = edrnsite.policy
versions = versions
parts += mkrelease

[versions]
python-ldap = 2.3.13
plone.namedfile = 2.0.1

[test]
recipe   = collective.xmltestreport
defaults = ['--auto-color', '--auto-progress', '--verbose']
eggs     = ${buildout:package-name}[test]

[mkrelease]
recipe = zc.recipe.egg:scripts
eggs = jarn.mkrelease
