# encoding: utf-8
# Copyright 2011 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.

[buildout]
extends =
    http://tumor.jpl.nasa.gov/repo/edrn/portal/etc/base.cfg
    setup.cfg
package-name = edrnsite.policy

[versions]
# Required for PloneFormGen 1.7 on Plone 4.0.x:
plone.app.jquerytools = 1.2b4
